@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

html {
        scroll-behavior: smooth;
    }

body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
}

/* hero section */
@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0);
    }
}

.animate-bar {
    animation: slide 5s infinite alternate ease-in-out;
}

.nav-link {
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: white; /* Default color */
}

.nav-link:hover,
.nav-link.active {
    color: #9994f0;  /* Active and hover color */
    font-weight: 700;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #9994f0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

/* services */
@keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes scrollRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.animate-scrollLeft {
    animation: scrollLeft 20s linear infinite;
}

.animate-scrollRight {
    animation: scrollRight 20s linear infinite;
}

.mask-effect {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

/* about  */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typewriter cursor */
    white-space: nowrap; /* Keeps the text on a single line */
    margin: 0 auto; /* Gives that scrolling effect */
    letter-spacing: .15em; /* Adjusts the spacing between characters */
    animation: blink-caret 3s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}

.img-container {
    animation: fadeIn 2s ease-in; /* Add fade-in animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* background section  */
.button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px 12px;
    min-width: 10em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
  }
  
  .button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    transition-property: transform;
    transition-duration: .2s;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .button:active .button-top {
    transform: translateY(6px);
  }
  
  .button-top::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-image: radial-gradient(#4f46e5, #3b82f6);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: .2s;
  }
  
  .button:active .button-top::after {
    border-radius: 6px;
    padding: 0 2px;
  }
  
  .button-bottom {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    background-color: #312e81;
    background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), 
                      radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), 
                      radial-gradient(16px at -4px 0, white, transparent), 
                      radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
    transition-property: border-radius, padding-top;
    transition-duration: .2s;
  }
  
  .button:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
  }
  
  .button-base {
    position: absolute;
    z-index: -2;
    top: 4px;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
  }

  ul li {
  font-size: 0.875rem;
}


/* project page  */
#dropdown-menu{
    position: absolute;
    z-index: 1;
}

